<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wtech.com.intellispaces">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Exp"
            android:label="@string/title_activity_exp" />
        <activity
            android:name=".BeaconList"
            android:label="@string/title_activity_beacon_list" />
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".IntelliSpaces"
            android:label="InteliSpaces"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeaconFromServer"
            android:label="@string/title_activity_beacon_from_server"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
